<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        /* Stackoverflow preview fix, please ignore */
        .navbar-nav {
            flex-direction: row;
        }

        .nav-link {
            padding-right: .5rem !important;
            padding-left: .5rem !important;
        }

        /* Fixes dropdown menus placed on the right side */
        .ml-auto .dropdown-menu {
            left: auto !important;
            right: 0px;
        }

        .bg-custom-1 {
            background-color: #85144b;
        }

        .bg-custom-2 {
            background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
        }
    </style>
</head>
<body>
    @{
        BookStoreUI.Models.AlertViewModel alert = null;

        if (ViewBag.AlertMessage != null)
        {
            alert = new BookStoreUI.Models.AlertViewModel();
            alert = Newtonsoft.Json.JsonConvert.DeserializeObject<BookStoreUI.Models.AlertViewModel>(ViewBag.AlertMessage.ToString());

        }
    }


    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Manage Books</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="BookRequest" asp-action="Index">Borrow Request</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="ListAllUser" asp-controller="Manage">User</a>
                        </li>
                    }

                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/images/profile.png" width="60" height="60" class="rounded-circle">
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">@User.Identity.Name</a>
                                <hr />
                                @if (User.IsInRole("Reader"))
                                {
                                    <a asp-controller="MyBook" asp-action="Index"a class="p-3 dropdown-item">My Book</a>

                                }

                                <a asp-controller="Account" asp-action="Profile" class="p-3 dropdown-item">Profile</a>
                                <a asp-controller="Account" asp-action="Logout" class="p-3 dropdown-item">Logout</a>

                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
                        </li>
                    }

                    @*@if (User.Identity.IsAuthenticated && User.IsInRole("Reader"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login">My Book</a>
                            </li>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Profile" class="btn btn-outline-primary">Hello! @User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }*@


                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (alert != null)
            {
                await Html.RenderPartialAsync("_Alert", alert);
            }



            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
